.animation-container {
  // width: 320px;
  // height: 480px;
  // padding: 200px 0;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: $dark-color;
}
/* Replay Styles */
.edge-replay {
  color: #34b8f4;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  &:active {
    transform: scale(0.9);
    transition: transform 0.25s ease;
  }
  &-flipX {
    transform: rotateX(180deg);
  }
  &-glyphicon {
    font-weight: 900;
    font-size: 2.5em;
  }
  &.animate {
    animation-name: bounceIn;
    animation-duration: 2s;
    animation-delay: 0;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    .edge-replay-glyphicon {
      animation-name: spinIn;
      animation-duration: 2.25s;
      animation-delay: 0;
      animation-iteration-count: 1;
      animation-timing-function: ease-in-out;
    }
  }
}

@keyframes bounceIn {
  0% {
    transform: scale(0);
  }
  70% {
    transform: scale(1.07);
  }
  77% {
    transform: scale(0.93);
  }
  85% {
    transform: scale(1.03);
  }
  92% {
    transform: scale(0.97);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes spinIn {
  0% {
    transform: rotateZ(-400deg);
  }
  70% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
/* / Replay Styles */
