.hangman-container {
  position: relative;
  top: 7%;
  right: 10%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-left: 10rem;
  padding-top: 8rem;
  box-sizing: border-box;
}

.pole {
  position: absolute;
  height: 400px;
  top: 2rem;
  left: 3rem;
  border-left: 10px solid brown;
  border-top: 10px solid brown;
  width: 10rem;

  &::after {
    content: "";
    height: 2.5rem;
    width: 10px;
    background: brown;
    position: absolute;
    right: 0;
  }
}

.hangman {
  position: relative;
  &__element {
    opacity: 0.25;
    &:nth-child(1) {
      height: 100px;
      width: 100px;
      border-radius: 50%;
      border: 10px solid black;
      &::after {
        position: absolute;
        content: "● ●";
        font-size: 3rem;
        color: black;
        margin-left: 10px;
        display: none;
      }
      &::before {
        content: "(";
        font-size: 3rem;
        font-family: sans-serif;
        position: absolute;
        top: 50px;
        left: 50px;
        margin-left: 5px;
        display: none;
      }
    }
    &:not(:first-child) {
      height: 100px;
      width: 10px;
      background-color: black;
    }
    &:nth-child(2) {
      position: absolute;
      height: 120%;
      left: 55px;
    }
    &:nth-child(3) {
      position: absolute;
      transform: rotate(45deg);
      left: 20px;
      top: 120%;
    }
    &:nth-child(4) {
      position: absolute;
      transform: rotate(-45deg);
      left: 90px;
      top: 120%;
    }
    &:nth-child(5) {
      position: absolute;
      transform: rotate(45deg);
      left: 20px;
      top: 202%;
    }
    &:nth-child(6) {
      position: absolute;
      transform: rotate(-45deg);
      left: 90px;
      top: 202%;
    }
  }
}

@for $i from 1 through 7 {
  .hangman-#{$i} {
    @for $j from 1 through $i {
      .hangman__element:nth-child(#{$j}) {
        opacity: 1;
      }
    }
  }
}

.hangman-6 {
  top: -50px;
  .hangman__element:nth-child(1) {
    &::after {
      display: block;
    }
    &::before {
      display: block;
      transform: rotate(90deg);
    }
  }
}

.hangman-7 {
  .hangman__element:nth-child(1) {
    &::after {
      display: block;
    }
    &::before {
      display: block;
      transform: rotate(270deg);
      left: 40px;
    }
  }
}
