@import "settings/variable.scss";
@import "layouts/box.scss";
@import "layouts/container.scss";
@import "settings/reset.scss";
@import "components/board.scss";

body {
  background-color: $light-blue;
  color: white;
}

button {
  size: 100%;
  font-weight: 500;
  font-size: 18px;
  padding: 8px 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: $light-blue;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(0.96);
  }
}

.hide {
  display: none;
}
